@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #1f2937;
    background-color: #f3f4f6;
  }
}



/*custom css classes*/

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}
.scrollbar-sm::-webkit-scrollbar{
  width: 5px;
  background-color: #fff;
  padding: 1px;
}
.scrollbar-sm::-webkit-scrollbar-thumb{
  width: 3px;
  background-color: #cdcdcd;
  border-radius: 20px;
}



/*custom css style*/
thead tr{
  border-bottom: 3px solid #9a9a9a;
  box-shadow: 0px 0px 2px #9a9a9a;
  
}
td{
  border: 1px solid #ababab;
}